.menu-list {
    width: 228px;

    .menu-item {
        margin-left: 0;
        padding: 14px 16px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-radius: 0;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
