.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.menu-title {
    margin-left: 8px;
    font-size: 1.8rem;
    font-weight: 700;
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}
